<html>
<head>
    <title>{{username}}</title>
</head>
<body>
    <h1> Hello there {{username}}'</h1>
    {% extends "base.html" %}

    {% block content %}
    <form action="" method="post" novalidate>
        <p>
            <a href="{{url_for('buyItems')}}">Sell your things here!</a>
            <a href="{{url_for('cart')}}">View your cart here!</a>
            <a href="{{url_for('rateItem')}}">Rate an item here!</a>
            <!--<a href="{url_for('checkout')}}">Pay here!</a>-->
            {{form.button()}}
        </p>
    </form>
    {% endblock %}
</body>
</html>