{% extends 'base.html' %}
{% block body %}
    <title>Rating Page</title>

    <h1>Rate Items</h1>
	<form action="#" method="post">
    <div class="mb-3">
        <label class="form-label">Item ID:</label>
        <input type="number" class="form-control" placeholder="Item ID" name="item_id">
    </div>
    <div class="mb-3">
        <label class="form-label">Rating:</label>
        <input type="number" class="form-control" placeholder="Rating" name="rating" min="1" max="5">
    </div>
    <div class="mb-3">
        <label class="form-label">Review:</label>
        <input type="text" class="form-control" placeholder="Review" name="review">
    </div>
    <input type="submit" class="btn btn-primary" name="add_rating" value="Add rating">
</form>
  </body>
{% endblock %}
