<html>
    <body>
        <form action="#" method = "POST">
            <h4> Cart Summary </h4>
		    <ul>
		    {% for item in items %}
		        <li> {{item}} </li>
		    {% endfor %}
		    </ul>
            Total: ${{total_price}}
            
            <p> Enter Address: </p>
            <p> <input type = "text" name = "address"> </p>
            <p> Enter Credit Card Information: </p>
            <p> <input type = "number" name = "number"> </p>
            <p> Purchase: <input type = submit name = "submit" value = "Buy"> </p>
        </form>

        <ul>
        {% for info in buyInfo %}
            <li> {{info}}</li>
        {% endfor %}
        </ul>
    </body>
</html>