<html>
    <style>
        body
        {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: large;

            padding: 250px 0;
            text-align: center;

            color: ghostwhite;
            background-image: url("/static/splash1.jpg");
            background-size: auto;
            background-repeat: no-repeat;
        }   
    </style>
    
    <center> <h2> Welcome to the CMPE131 Shop! </h2> </center>
    
    <body>
        <center> <p> Various goods and items are available on our website</p> </center>
        <center> <p> Please register and create an account <b> or </b> log in if you already have one!</p></center>

        <center>
            <form action = "{{url_for('login')}}" method = "POST">
                <p> <input type = submit value = "Login"> </p>
            </form>
            
            <form action = "{{url_for('register')}}" method = "POST">
                <p> <input type = submit value = "Register"> </p>
            </form>
        </center>
    </body>
</html>